<h1 class="ui center aligned header">Welcome to MessageMe - a complete Chat App</h1>

<h4 class="ui center aligned medium icon header">
  <i class="circular orange power off icon"></i>
  Log in to continue
</h4>