<form class="ui reply form">
  <div class="field">
    <div class="ui fluid icon input">
      <input type="text" placeholder="Enter a message...">
      <i class="bordered inverted orange edit icon"></i>
    </div>
  </div>
</form>