<div class="ui feed">
  <div class="event">
    <div class="content">
      <div class="summary">
         <em>Elliot Fu</em>: Test message 1
      </div>
    </div>
  </div>
  <div class="event">
    <div class="content">
      <div class="summary">
         <em>Stevie Feliciano</em>: Test message 2
      </div>
    </div>
  </div>
  <div class="event">
    <div class="content">
      <div class="summary">
         <em>Helen Troy</em>: Test message 3
      </div>
    </div>
  </div>
  <div class="event">
    <div class="content">
      <div class="summary">
         <em>Christian Rocha</em>: Test message4
      </div>
    </div>
  </div>
</div>
