<!-- Page header -->
<section class="mt">
  <%= render "page_header" %>
</section>

<section class="mt">
  <!-- Chatbox -->
  <div class="ui two column grid">
      <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
          <div class="content">
            <%= render "chatbox", obj: @messages %>
          </div>
          <div class="extra content">
            <%= render "chat_input" %>
          </div>
        </div>
      </div>

    <!-- Vertical menu -->
    <div class="four wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <%= render "vertical_menu" %>
        </div>
      </div>
    </div>
  </div>
</section>